mixin post(headline, markdownInclude)
  article.post(id=markdownInclude)
    header
      a(href="/posts/#{markdownInclude}.html")
        h1.headline-primary= headline
      
      p.post-meta(title="2015/12/29")
        span.post-category Frontend Architecture • 
        span.post-date December 2015
        span.post-author by Falk Hoppe
        
    .markdown-container
      +#{markdownInclude}
      
    footer.post-footer
      nav.post-nav 
        button.open Open
        ul.scroll-status
          
      .post-footer-content
        h3.headline-sub= headline
  
        
  
